<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Newsletter</title>
  <style>
    * {
      font-family: Arial, Helvetica, sans-serif;
    }

    a {
      color: #0088cc;
      text-decoration: none;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      width: 400px;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 1em;
      padding: 1em;
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    .list-item {
      padding: 1em;
      background: #eee;
      border-radius: 8px;
    }

    .heading {
      display: flex;
      gap: 1em;
      justify-content: space-between;
      margin-bottom: 1.25em;
      padding-bottom: 0.25em;
      border-bottom: 1px solid #ccc;
    }

    .heading h1 {
      margin: 0;
      font-size: 1.5em;
    }

    .title > div {
      display: inline-flex;
      align-items: baseline;
      gap: 0.33em;
      margin-bottom: 0.5em;
    }

    .category-color {
      width: 10px;
      height: 10px;
    }

    .category {
      font-size: 13px;
      color: #646464;
    }

    .post-link {
      text-decoration: none;
      color: #000;
    }

    .post-link:hover {
      text-decoration: underline;
    }

    .timestamp {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 0.1em;
    }

    .date, .time {
      white-space: nowrap;
      font-size: 1.1em;
      color: #8f8f8f;
    }

    .answer {
      display: flex;
      gap: 0.25em;
      margin-bottom: 0.25em;
    }

    .connector {
      width: 15px;
      height: 15px;
      border-left: 1px solid #aaa;
      border-top: 1px solid #aaa;
      border-radius: 30% 0 0 0;
      margin-left: 20px;
      align-self: flex-end;
    }

    .content {
      display: flex;
    }

    .avatar, .avatar_sm {
      border-radius: 50%;
      margin-right: 0.5em;
    }

    .author {
      display: flex;
      align-items: center;
    }

    .name {
      font-size: 1.1em;
      font-weight: bold;
    }

    .read-more {
      color: #b70000;
      font-size: 0.85em;
    }

    .read-more:hover {
      color: #cc0000;
    }
  </style>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <h1>Neue Beiträge der letzten Woche</h1>
      <div class="logo">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 87.015152 12.945618">
          <g stroke-width=".264583" aria-label="GEOWebforum" font-family="Quicksand" font-size="10.9361" style="-inkscape-font-specification:'Courier New, Normal'">
              <path fill="maroon" d="M78.795431 142.40003q-.831144 0-1.552927-.30622-.721782-.30621-1.268587-.84207-.546805-.54681-.863952-1.25766-.306211-.71084-.306211-1.53105t.306211-1.53105q.317147-.71085.863952-1.24672.546805-.5468 1.268587-.85302.721783-.30621 1.552927-.30621.513996 0 .995185.10936.481188.10937.885824.32809.164041.0875.240594.24059.08749.14217.08749.29528 0 .26246-.174978.47025-.174977.20778-.44838.20778-.08749 0-.185914-.0219-.08749-.0219-.174977-.0656-.273403-.1203-.579613-.18592-.306211-.0656-.64523-.0656-.710847 0-1.301396.36089-.579614.34995-.929569.95144-.339019.59055-.339019 1.31233 0 .71085.339019 1.31233.349955.60149.929569.96238.590549.34995 1.301396.34995.328083 0 .721782-.0656.3937-.0656.64523-.17498l-.09842.32808v-1.87007l.185914.16404h-1.213907q-.284339 0-.481189-.18591-.185913-.18592-.185913-.47026 0-.28433.185913-.47025.19685-.18591.481189-.18591h1.79352q.284339 0 .470253.19685.185913.18591.185913.47025v2.31845q0 .21873-.109361.3609-.09843.14216-.229658.22965-.50306.30621-1.104546.49213-.590549.17498-1.246715.17498zm4.669705-7.76464h3.663594q.284338 0 .470252.18592.19685.17498.19685.45931 0 .27341-.19685.44838-.185914.16405-.470252.16405h-3.062108l.09843-.18592v2.13254l-.08749-.0875h2.559047q.284339 0 .470252.18592.19685.17497.19685.45931 0 .27341-.19685.44838-.185913.16404-.470252.16404H84.11037l.05468-.0875v2.20909l-.08749-.0984h3.051172q.284338 0 .470252.19685.19685.18592.19685.43745 0 .2734-.19685.44838-.185914.17497-.470252.17497h-3.663594q-.284338 0-.481188-.18591-.185914-.19685-.185914-.48119v-6.32106q0-.28434.185914-.47026.19685-.19685.481188-.19685zm12.631181 3.82764q0 .82021-.273402 1.53105-.273403.71085-.776464 1.25766-.492124.53586-1.181098.84207-.678039.30622-1.48731.30622t-1.48731-.30622q-.678038-.30621-1.181098-.84207-.492125-.54681-.765527-1.25766-.273403-.71084-.273403-1.53105t.273403-1.53105q.273402-.71085.765527-1.24672.50306-.5468 1.181098-.85302.678039-.30621 1.48731-.30621t1.48731.30621q.688974.30622 1.181098.85302.503061.53587.776464 1.24672.273402.71084.273402 1.53105zm-1.421693 0q0-.73272-.295275-1.32327-.295274-.60148-.809271-.95144-.513997-.34995-1.192035-.34995-.678038 0-1.192035.34995-.513997.34996-.809271.94051-.284339.59054-.284339 1.3342 0 .73272.284339 1.3342.295274.59055.809271.94051.513997.34995 1.192035.34995.678038 0 1.192035-.34995.513997-.34996.809271-.94051.295275-.60148.295275-1.3342z" style="-inkscape-font-specification:'Quicksand, @wght=700';font-variation-settings:'wght' 700" transform="translate(-62.410909 -131.55502)"/>
              <path d="M106.41998 134.61352q.14217 0 .2406.0875.10936.0765.10936.2406 0 .0547-.0219.14216l-2.41688 6.99911q-.0328.0984-.1203.1531-.0875.0547-.17498.0547-.10936 0-.19685-.0437-.0875-.0547-.13123-.16404l-1.93569-4.79001.0875.0219-1.93569 4.76814q-.04375.10936-.14217.16404-.08749.0437-.185913.0437-.08749 0-.174978-.0547-.07655-.0547-.109361-.1531l-2.416878-6.99911q-.03281-.0875-.03281-.13123 0-.16404.120297-.25153.120297-.0875.240594-.0875.109361 0 .19685.0547.08749.0547.120297.15311l2.198156 6.40855-.120297.0109 1.902883-4.74627q.0328-.0984.10936-.1531.0875-.0656.19685-.0547.10936-.0109.18591.0547.0875.0547.13124.1531l1.88101 4.7244-.1203.0437 2.18722-6.44136q.0328-.0984.1203-.15311.0875-.0547.20778-.0547zm3.90417 7.78651q-.84208 0-1.48731-.3609-.64523-.36089-1.00612-1.00612-.36089-.64523-.36089-1.50918 0-.92957.36089-1.58573.37183-.65617.95144-1.00612.59055-.3609 1.24672-.3609.48118 0 .92956.17498.45932.16404.80928.50306.36089.32809.56867.80927.21873.48119.2406 1.11549-.0109.13123-.10936.22965-.0984.0875-.22966.0875h-4.38538l-.13123-.59055h4.30882l-.14217.13124v-.21873q-.0437-.51399-.32808-.87488-.28434-.36089-.68897-.54681-.40464-.18591-.84208-.18591-.32809 0-.67804.13123-.33902.13123-.62336.41557-.2734.27341-.44838.71085-.17498.42651-.17498 1.01706 0 .64523.26247 1.17016.26247.52493.75459.83114.50306.30621 1.19203.30621.38277 0 .68898-.10936.30621-.10936.53587-.28434.22966-.18591.38276-.38276.1203-.0984.2406-.0984.10936 0 .18591.0875.0875.0875.0875.19685 0 .13124-.10936.22966-.32809.3937-.85302.68898-.52493.28434-1.14829.28434zm6.31012-5.82895q.74365 0 1.31233.37183.57961.37183.91863 1.028.33902.64523.33902 1.49824 0 .83114-.33902 1.49825-.33902.6671-.91863 1.04986-.57961.38277-1.3014.38277-.38276 0-.73272-.1203-.33901-.1203-.62335-.31715-.28434-.20778-.50306-.48119-.21873-.2734-.34996-.59055l.19685-.14217v1.23578q0 .14217-.0984.2406-.0875.0875-.22966.0875-.14217 0-.2406-.0875-.0875-.0984-.0875-.2406v-7.44748q0-.14217.0875-.22966.0875-.0984.2406-.0984.14217 0 .22966.0984.0984.0875.0984.22966v3.66359l-.1531-.0875q.10936-.33901.31714-.61242.21872-.28434.50306-.49212.28434-.20779.62336-.31715.33902-.1203.71085-.1203zm-.0547.61243q-.59055 0-1.03893.29527-.44838.29528-.71085.80927-.25153.514-.25153 1.1811 0 .65617.25153 1.19204.26247.52493.71085.83114.44838.29527 1.03893.29527.57961 0 1.01705-.30621.44838-.30621.71085-.83114.26247-.53587.26247-1.1811 0-.6671-.26247-1.1811-.26247-.51399-.71085-.80927-.43744-.29527-1.01705-.29527zm6.04767-2.94181q.16404 0 .34995.0328.19685.0328.33902.1203.14217.0765.14217.24059 0 .1203-.0875.21873-.0875.0875-.19685.0875-.10936 0-.2734-.0547-.16404-.0656-.34995-.0656-.22966 0-.3937.10936-.16404.0984-.25153.29527-.0875.18592-.0875.45932v6.27732q0 .13123-.0984.22966-.0875.0984-.22966.0984t-.24059-.0984q-.0875-.0984-.0875-.22966v-6.27732q0-.69991.40464-1.07174.41557-.37182 1.0608-.37182zm.41557 2.56998q.13123 0 .21872.0875.0875.0875.0875.21872 0 .13123-.0875.21872-.0875.0875-.21872.0875h-2.67934q-.1203 0-.21873-.0875-.0875-.0984-.0875-.21872 0-.14217.0875-.21872.0984-.0875.21873-.0875zm6.29371 2.67934q0 .83115-.36089 1.49825-.36089.65616-.98425 1.03893-.62336.37183-1.42169.37183-.77647 0-1.41076-.37183-.62336-.38277-.99519-1.03893-.36089-.6671-.36089-1.49825 0-.84208.36089-1.49824.37183-.65617.99519-1.03893.63429-.38277 1.41076-.38277.79833 0 1.42169.38277.62336.38276.98425 1.03893.36089.65616.36089 1.49824zm-.65617 0q0-.6671-.2734-1.1811-.2734-.52493-.75459-.8202-.47025-.30621-1.08267-.30621-.59055 0-1.07174.30621-.48119.29527-.76553.8202-.2734.514-.2734 1.1811 0 .66711.2734 1.1811.28434.514.76553.82021.48119.29527 1.07174.29527.61242 0 1.08267-.29527.48119-.30621.75459-.82021.2734-.51399.2734-1.1811zm2.38405 2.79964q-.15311 0-.2406-.0984-.0875-.0984-.0875-.22966v-4.89937q0-.13123.0875-.22966.0984-.0984.2406-.0984.14217 0 .22966.0984.0984.0984.0984.22966v1.64041l-.16404.0328q.0328-.38276.18591-.75459.16405-.38276.43745-.69991.2734-.31715.64523-.514.38276-.19685.85301-.19685.19685 0 .38277.0875.18591.0766.18591.26247 0 .16404-.0875.25153-.0875.0875-.20778.0875-.0984 0-.21873-.0547-.10936-.0547-.29527-.0547-.30621 0-.61242.18591-.30621.17498-.55774.48119-.25153.30621-.40464.68897-.14217.37183-.14217.75459v2.70122q0 .13123-.0984.22966-.0984.0984-.22966.0984zm8.05989-5.55553q.14217 0 .22965.0984.0984.0984.0984.22966v3.08398q0 1.08267-.61242 1.65135-.61242.56868-1.65135.56868-1.028 0-1.64042-.56868-.60148-.56868-.60148-1.65135v-3.08398q0-.13123.0875-.22966.0984-.0984.24059-.0984.14217 0 .22966.0984.0984.0984.0984.22966v3.08398q0 .7874.41557 1.20297.42651.40464 1.17017.40464.75459 0 1.1811-.40464.4265-.41557.4265-1.20297v-3.08398q0-.13123.0875-.22966.0875-.0984.2406-.0984zm4.56033-.07656q.67804 0 1.15923.36089.48119.34996.65616 1.04987l-.1531.0437.0656-.19685q.14216-.32808.47025-.61242.33902-.29527.76552-.47025.42651-.17498.86396-.17498.68897 0 1.10454.29528.42651.29527.61242.79833.19685.49213.19685 1.11549v3.09491q0 .13123-.0984.22966-.0875.0984-.22966.0984-.14217 0-.24059-.0984-.0875-.0984-.0875-.22966v-3.06211q0-.44838-.14217-.8202-.14217-.37183-.44838-.59055-.30621-.21873-.82021-.21873-.44838 0-.86395.21873-.40464.21872-.6671.59055-.25153.37182-.25153.8202v3.06211q0 .13123-.0984.22966-.0875.0984-.22966.0984-.14217 0-.24059-.0984-.0875-.0984-.0875-.22966v-3.09491q0-.44838-.13123-.80928-.13124-.36089-.42651-.56867-.29528-.21873-.79834-.21873-.44838 0-.85301.21873-.3937.20778-.64523.56867-.2406.3609-.2406.80928v3.09491q0 .13123-.0984.22966-.0984.0984-.22966.0984-.1531 0-.24059-.0984-.0875-.0984-.0875-.22966v-4.89937q0-.13123.0875-.22966.0984-.0984.24059-.0984.14217 0 .22966.0984.0984.0984.0984.22966v1.01706l-.29527.40463q.0328-.32808.20779-.65616.18591-.32809.48118-.59055.29528-.26247.66711-.41558.38276-.16404.79833-.16404z" style="-inkscape-font-specification:'Quicksand, @wght=400';font-variation-settings:'wght' 400" transform="translate(-62.410909 -131.55502)"/>
          </g>
          <path fill="#fff" d="M63.768589 133.57518h7.000864v5.9690156h-7.000864z" style="font-variation-settings:'wght' 700" transform="translate(-62.410909 -131.55502)"/>
          <path fill="maroon" d="M.000443 4.70933C-.042837.85941 3.333668-.01489 5.056174.00019c1.722506.0151 4.720128.88633 4.823651 4.77666.04727 2.16848-2.95484 6.32616-4.934152 8.16877C3.088616 11.18476-.04286 7.36092.000443 4.70933zm7.149915 2.22542c1.000239-.69921 1.238346-1.8725.312653-2.81653.01096 1.60678-1.456002 2.37031-2.86885 2.48866.39278.77604 1.861599.60021 1.861599.60021s.288528.63356 1.221011.52688c-.303076-.22408-.461067-.42276-.526413-.79922zm-3.438123-.72284s.402111.11026 1.296005-.0275c1.021835-.15748 2.035037-1.02308 2.047385-1.88893.01839-1.28951-1.399157-2.36149-3.211382-2.11874-2.00436.26849-2.930442 2.00675-1.808027 3.39286.17866.22063.731965.45158.731965.45158-.07472.3836-.230371.67886-.66355 1.01844.857854.17932 1.607604-.82776 1.607604-.82776z"/>
        </svg>
      </div>
    </div>
    <div class="list">
      <% @posts.each do |post| %>
        <div class="list-item">
          <div class="heading">
            <div class="title">
              <h1><a class="post-link" href="<%= "#{@base_url}/t/#{post.topic.slug}/#{post.topic.id}/#{post.post_number}" %>"><%= post.topic.title %></a></h1>
              <div>
                <span class="category-color" style="background: #<%= post.topic.category.color %>"></span>
                <span class="category"><%= post.topic.category.name %></span>
              </div>
            </div>
            <div class="timestamp">
              <span class="date"><%= post.created_at.strftime("%d.%m.%Y") %></span>
              <span class="time"><%= post.created_at.strftime("%H:%M") %></span>
            </div>
          </div>
          <!-- Answer -->
          <div class="author">
            <img class="avatar" src="<%= "http:" + post.user.avatar_template_url.gsub("{size}", "40") %>" alt="avatar" width="40" height="40">
            <span class="name"><%= post.user.name.present? ? post.user.name : post.user.username %></span>
          </div>
          <div class="content">
            <%= post.cooked.truncate(400, omission: '…').html_safe %>
            <a class="read-more" href="<%= "#{@base_url}/t/#{post.topic.slug}/#{post.topic.id}/#{post.post_number}" %>">weiterlesen</a>
          </div>
        </div>
      <% end %>
    </div>
    <div class="unsubscribe">
      Ändere <a class="unsubscribe-link" href="<%= "#{@base_url}/u/#{@user.username}/preferences/emails" %>">deine E-Mail-Einstellungen</a>, um dieses E-Mail nicht mehr zu erhalten.
    </div>
    <div class="signature">
      Mit freundlichen Grüssen<br>
      Ihr GEOWebforum-Team
    </div>
  </div>
</body>
</html>
